In [1]:
# Exercise 1: Create a Jupyter Notebook

In [20]:
# Exercise 2: Create markdown cell with title of the notebook

# H1: Data Science Tools and Ecosystem

In [4]:
# Exercise 3 - Create a markdown cell for an introduction

# In this notebook, Data Science Tools and Ecosystem are summarized.

In [5]:
# Exercise 4 - Create a markdown cell to list data science languages

# Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. SQL
4. R

In [6]:
# Exercise 5 - Create a markdown cell to list data science libraries

# Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Keras
3. Pandas

In [7]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| -------------|
| Apache Spark |
| TensorFlow |
| Julia |

In [8]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### H3: Create a markdown cell introducing arithmetic expression examples

In [9]:
# Exercise 8 - Create a code cell to multiply and add numbers

***This a simple arithmetic expression to mutiply then add integers***

In [13]:
(3*4)+5

17

In [16]:
# Exercise 9 - Create a code cell to convert minutes to hours

***This will convert 200 minutes to hours by diving by 60***

In [17]:
200/60

3.3333333333333335

In [18]:
# Exercise 10 - Insert a markdown cell to list Objectives

**Objectives**

# List popular languages for Data Science.

- **Objectives**
    - R
    - SQL
    - Python

In [19]:
# Exercise 11 - Create a markdown cell to indicate the Author's name

## H2: Author Name
# Bala Sai Kishore Kandula